<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Bio Trio Movies</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- For button images -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
<body id="bootstrap-override-background">

<!--   Dynamic navbar - Pass parameter to navbar fragment-->
<div th:object="${principal}">
    <th:block th:include="fragments/navbar :: navbar(user = *{accessLevel.toUpperCase()})"></th:block>
</div>

<div style="max-width: 100vw; align-content: center; padding-top: 20px; justify-content: center; display: flex;"
     th:if="${principal.accessLevel == 'BASIC' or principal.accessLevel == 'ADMIN'}">
    <a th:href="@{'/movies/add_movie'}" class="btn btn-primary" style="width:90%;">Add Movie</a>
</div>

<div style="display: flex; max-width: 100vw; padding:2%; color: black;" th:object="${principal}">
    <div style="width: 100vw; flex-wrap: wrap; display:flex; flex-direction: row; justify-content: space-around">
    <div th:each="movie, iter : ${movieList}" style="padding-bottom: 1%" >

        <div class="card" style="width: 18rem; height: 35rem;  background-color: #c7caf4">
            <img th:src="${'/images/' + movie.movie_name + '.jpg'}" class="card-img-top" style="height: 17rem">
            <div class="card-body">
                <h5 class="card-title" th:text="${movie.movie_name}"></h5>
                <p class="card-text" th:text="${'Year: ' + movie.year_of_production}"></p>
                <p class="card-text" th:text="${'Duration: ' + movie.duration + ' mins'}"></p>
                <a th:href="@{'/movies/showings/' + ${movie.movie_id}}" class="btn btn-primary" style="margin-bottom: 3%">All Showings</a>
                </br>
                <a th:if="${principal.accessLevel == 'BASIC' or principal.accessLevel == 'ADMIN'}"
                   th:href="@{'/movies/edit/' + ${iter.index}}" class="btn btn-primary" style="padding: 5px"> Edit</a>
                <a th:if="${principal.accessLevel == 'BASIC' or principal.accessLevel == 'ADMIN'}"
                   th:href="@{'/movies/delete/' + ${iter.index}}" class="btn btn-danger" style="padding: 5px">Delete</a>
            </div>
        </div>

    </div>
    </div>
</div>


<script th:if="${param.error}" >alert("Something went wrong, please try again.") </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


</body>
</html>