<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Bio Trio Tickets</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- For button images -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
<body id="bootstrap-overrides">

<!--   Dynamic navbar - Pass parameter to navbar fragment-->
<div th:object="${principal}">
    <th:block th:include="fragments/navbar :: navbar(user = *{accessLevel.toUpperCase()})"></th:block>
</div>

<div>


    <table>
        <tr>
            <td style="min-width: 500px; padding: 50px">
                <table>
                    <tr>
                        <td></td> <!--empty for that corner left empty cell, on (0,0) position-->
                        <div th:each="chair, iter: ${seatMatrix[0]}">
                            <div th:if="${iter.count == 1}">
                                <td></td> <!--if it is the first iteration over the seatMatrix[0] we are putting an empty td as
                                bot space holder and table formating helper-->

                            </div>
                            <td th:if="${iter.count > 1}" th:text=${iter.count-1}></td> <!-- first row, seat numbers-->
                        </div>
                    </tr>
                    <tr th:each="row, iter2 : ${seatMatrix}" > <!--row iteration-->

                        <td th:if="${iter2.count > 1}" th:text=${iter2.count-1}></td> <!--first cell in each row, row number-->
                        <!--<div th:if="${iter2.count == 1}"/> --><!--if its the first iteration we are skipping addition as those seats
                        are actually in the 0 row-->
                        <div th:if="${iter2.count > 1}">
                            <td th:each="seat, iter3 : ${row}"> <!--seat iteration-->
                                <div th:if="${iter3.count > 1}">
                                    <input th:if="${seat == 'Available'}" th:type="button" class="btn btn-outline-primary">
                                    <input th:unless="${seat == 'Available'}" th:type="button" class="btn btn-danger" disabled>
                                </div>
                            </td>
                        </div>

                    </tr>
                </table>
            </td>
            <td style="padding: 20px;">
                <h2 th:text=${movie.movie_name}></h2>
                <span th:text="${'Starting at: ' + #temporals.format(showing.date, 'dd-MM-yyyy') + ' ' + showing.time}"></span><br/>
                <span th:text="${'Duration: ' + movie.duration + ' minutes'}"></span><br/>
                <span th:text="${'Year of Production: ' + movie.year_of_production}"></span><br/>

                <form th:action="@{'/movies/showings/reserve/' + ${showingId}}" th:object="${tickets}" method="POST">
                    <table style="padding: 20px; border-collapse: separate; border-spacing: 2px;">
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label for="first_name">First name </label>
                                    <input type="text" class="form-control" th:placeholder="'John'"
                                           id="first_name" aria-describedby="first_name" th:field="${tickets.customer.firstName}" required/>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label for="last_name">Last name </label>
                                    <input type="text" class="form-control" th:placeholder="'Doe'"
                                           id="last_name" aria-describedby="last_name"
                                           th:field="${tickets.customer.lastName}" required/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label for="phone_nb">Phone Number </label>
                                    <input type="text" class="form-control" th:placeholder="'10101010'" th:maxlength="15"
                                           id="phone_nb" aria-describedby="phone_nb"
                                           th:field="${tickets.customer.phoneNumber}" required/>
                                </div>
                            </td>
                            <td><div class="form-group">
                                <label for="email">Email </label>
                                <input type="email" class="form-control" th:placeholder="'johndoe@johndoe.com'"
                                       id="email" aria-describedby="email" th:field="${tickets.customer.email}" required/>
                            </div>
                            </td>
                        </tr>
                    </table>
                    <table style="padding: 20px;">
                        <tr>
                            <td><h5>Ticket 1: </h5></td>
                            <td>
                                <div class="form-group">
                                    <select id="row_nb1" name="row_nb1" th:field="${tickets.ticket1.seat_row}">
                                        <option th:type="hidden" th:text="'Select a row'" th:value="0" ></option>
                                        <div th:each="row, iter : ${seatMatrix}">
                                            <option th:type="hidden"
                                                    th:if="${iter.index>0}"
                                                    th:text="${iter.index}"
                                                    th:value="${iter.index}">
                                            </option>
                                        </div>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <select id="seat_nb1" name="seat_nb1" th:field="${tickets.ticket1.seat_nb}">
                                        <option th:type="hidden" th:text="'Select a seat'" th:value="0" ></option>
                                        <div th:each="chair, iter: ${seatMatrix[0]}">
                                            <option th:type="hidden"
                                                    th:if="${iter.index>0}"
                                                    th:text="${iter.index}"
                                                    th:value="${iter.index}">
                                            </option>
                                        </div>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><h5>Ticket 2: </h5></td>
                            <td>
                                <div class="form-group">
                                    <select id="row_nb2" name="row_nb2" th:field="${tickets.ticket2.seat_row}">
                                        <option th:type="hidden" th:text="'Select a row'" th:value="0" ></option>
                                        <div th:each="row, iter : ${seatMatrix}">
                                            <option th:type="hidden"
                                                    th:if="${iter.index>0}"
                                                    th:text="${iter.index}"
                                                    th:value="${iter.index}">
                                            </option>
                                        </div>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <select id="seat_nb2" name="seat_nb2" th:field="${tickets.ticket2.seat_nb}">
                                        <option th:type="hidden" th:text="'Select a seat'" th:value="0" ></option>
                                        <div th:each="chair, iter: ${seatMatrix[0]}">
                                            <option th:type="hidden"
                                                    th:if="${iter.index>0}"
                                                    th:text="${iter.index}"
                                                    th:value="${iter.index}">
                                            </option>
                                        </div>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><h5>Ticket 3: </h5></td>
                            <td>
                                <div class="form-group">
                                    <select id="row_nb3" name="row_nb3" th:field="${tickets.ticket3.seat_row}">
                                        <option th:type="hidden" th:text="'Select a row'" th:value="0" ></option>
                                        <div th:each="row, iter : ${seatMatrix}">
                                            <option th:type="hidden"
                                                    th:if="${iter.index>0}"
                                                    th:text="${iter.index}"
                                                    th:value="${iter.index}">
                                            </option>
                                        </div>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <select id="seat_nb3" name="seat_nb3" th:field="${tickets.ticket3.seat_nb}">
                                        <option th:type="hidden" th:text="'Select a seat'" th:value="0" ></option>
                                        <div th:each="chair, iter: ${seatMatrix[0]}">
                                            <option th:type="hidden"
                                                    th:if="${iter.index>0}"
                                                    th:text="${iter.index}"
                                                    th:value="${iter.index}">
                                            </option>
                                        </div>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><h5>Ticket 4: </h5></td>
                            <td>
                                <div class="form-group">
                                    <select id="row_nb4" name="row_nb4" th:field="${tickets.ticket4.seat_row}">
                                        <option th:type="hidden" th:text="'Select a row'" th:value="0" ></option>
                                        <div th:each="row, iter : ${seatMatrix}">
                                            <option th:type="hidden"
                                                    th:if="${iter.index>0}"
                                                    th:text="${iter.index}"
                                                    th:value="${iter.index}">
                                            </option>
                                        </div>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <select id="seat_nb4" name="seat_nb4" th:field="${tickets.ticket4.seat_nb}">
                                        <option th:type="hidden" th:text="'Select a seat'" th:value="0" ></option>
                                        <div th:each="chair, iter: ${seatMatrix[0]}">
                                            <option th:type="hidden"
                                                    th:if="${iter.index>0}"
                                                    th:text="${iter.index}"
                                                    th:value="${iter.index}">
                                            </option>
                                        </div>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="btn btn-info" type="submit" value="Submit" />
                            </td>
                            <td>
                                <input class="btn btn-danger" type="reset" value="Reset"/>
                            </td>
                        </tr>
                    </table>
                </form>
            </td>
        </tr>
    </table>







</div>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script th:if="${param.fail}" >alert("A seat is already reserved. Please choose another and try again.") </script>
<script th:if="${param.empty}" >alert("Please select a seat and try again.") </script>

</body>
</html>