<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Bio Trio Showings</title>
    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- For button images -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
<body id="bootstrap-overrides">

<!--   Dynamic navbar - Pass parameter to navbar fragment-->
<div th:object="${principal}">
    <th:block th:include="fragments/navbar :: navbar(user = *{accessLevel.toUpperCase()})"></th:block>
</div>

    <div style="padding: 5%" th:object="${principal}">
    <div style="max-width: 100vw; align-content: center; padding-top: 20px; padding-bottom: 20px; justify-content: center; display: flex;"
         th:if="${principal.accessLevel == 'BASIC' or principal.accessLevel == 'ADMIN'}">
        <a th:href="@{'/movies/add_showing'}" class="btn btn-primary" style="width:90%;">Add Showing</a>
    </div>
    <div th:object="${movie}"  style="padding: 2rem;">

         <h2 th:text="${'All showings for: ' + movie.movie_name}" style="color: white"></h2>

         <table class="table table-striped" style="padding: 5%;">
            <thead>
                <tr>
                    <th class="col"style="min-width: 180px">Movie</th>
                    <th class="col"style="min-width: 180px">Theatre</th>
                    <th class="col"style="min-width: 180px">Duration</th>
                    <th class="col" style="min-width: 180px">Date</th>
                    <th class="col"style="min-width: 180px">Playing Time</th>
                    <th></th> <!--space servers-->
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tr th:each="showing, iter : ${showingsList}" >
                <td th:text="${showing.movie_name}" ></td>
                <td th:text="${showing.theatre_name}"></td>
                <td th:text="${showing.duration + ' Minutes'}"></td>
                <td th:text="${#temporals.format(showing.date, 'dd-MM-yyyy')}"></td>
                <td th:text="${showing.time}"></td>
                <td>
                    <a th:href="@{'/movies/showings/reserve/' + ${showing.showing_id}}" class="btn btn-info">reserve</a>
                </td>
                <td th:if="${principal.accessLevel == 'BASIC' or principal.accessLevel == 'ADMIN'}">
                    <a th:href="@{'/movies/showings/edit/' + ${iter.index}}" class="btn btn-info fas fa-pen"></a>
                </td>
                <td th:if="${principal.accessLevel == 'BASIC' or principal.accessLevel == 'ADMIN'}">
                    <a th:href="@{'/movies/showings/delete/' + ${iter.index}}" class="btn btn-danger fas fa-trash"></a>
                </td>
            </tr>
        </table>

    </div>
</div>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


</body>
</html>