<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Bio Trio Home</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- For button images -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
<body>

<div>
    <th:block th:include="fragments/navbar :: navbar"></th:block>
</div>

<div class="jumbotron">
    <table class="table table-striped">
        <thead>
        <th class="col">Employee Username</th>
        <th class="col">Employee Access-Level</th>
        <th class="col">Edit Employee</th>
        <th class="col">Delete Employee</th>
        </thead>
        <tr th:each="employee, iter : ${employees}">
            <td th:text="${employee.username}" ></td>
            <td th:text="${employee.accessLevel}"></td>
            <td><a th:href="@{'/employees/edit/' + ${iter.index}}" class="btn btn-info fas fa-pen"></a></td>
            <td><a th:href="@{'/employees/delete/' + ${iter.index}}" class="btn btn-danger fas fa-trash"></a></td>
        </tr>
    </table>


</div>


<!-- Check what this does -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


</body>
</html>