<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Bio Trio Home</title>

    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- For button images -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
<body id="bootstrap-overrides">

<!--   Dynamic navbar - Pass parameter to navbar fragment-->
<div th:object="${principal}">
    <th:block th:include="fragments/navbar :: navbar(user = *{accessLevel.toUpperCase()})"></th:block>
</div>

<div style=" padding-top: 100px; padding-left: 40%">


    <div th:object="${customer}">

        <p th:text="${'First name: ' + customer.firstName}"></p>
        <p th:text="${'Last name: ' + customer.lastName}"></p>
        <p th:text="${'Phone number: ' + customer.phoneNumber}"></p>
        <p th:text="${'Email: ' + customer.email}"></p>
        <p th:text="${'Password: ' + customer.password}"></p>

    </div>

    <div>
        <a th:href="@{'/customers/account/edit'}" class="btn btn-info">Edit Account Information</a>
    </div>

<!--    <div th:if="${param.error}" class="alert alert-warning">Something went wrong! Please try again.</div>-->
</div>




<!-- Check what this does -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script th:if="${param.error}" >alert("Something went wrong! Please try again.") </script>

</body>
</html>