<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Find Ticket</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body id="bootstrap-overrides">

<!--   Dynamic navbar - Pass parameter to navbar fragment-->
<div th:object="${principal}">
    <th:block th:include="fragments/navbar :: navbar(user = *{accessLevel.toUpperCase()})"></th:block>
</div>

<div style="padding: 5%">
        <form th:action="@{'/findTicket'}" th:object="${ticket}" method="POST" class="needs-validation" novalidate>
            <div class="form-group">
                <label for="phoneNb">Phone number</label>
                <input id="phoneNb" type="text" class="form-control" placeholder="Enter phone number" th:field="*{phone_nb}" required>
                <div class="invalid-feedback">
                    Please enter a phone nb.
                </div>
            </div>
            <div class="form-group">
                <label for="selectMovie">Movie that customer wants to watch</label>
                <select class="form-control" id="selectMovie" th:field="*{movie_id}" >
                    <option th:type="hidden" th:text="'Select a movie'" th:value="0"></option>
                    <option th:type="hidden"
                            th:each="movie, iter : ${allMovies}"
                            th:text="${movie.movie_name}"
                            th:value="${movie.movie_id}"
                            >
                    </option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script>
    //JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

</body>
</html>